    @import "update.css";
    .update {
    padding-top: 50px;
    }

    .container_tovar {
    max-width: 650px;
    }

    .update_category {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    border: 3px solid rgb(185, 52, 52);
    border-top: none;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 650px;
    margin-bottom: 20px;
    }
    .category {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background: rgb(197, 195, 195);
    font-size: 20px;
    border-top: 3px solid rgb(185, 52, 52);
    }

    .category a {
    text-decoration: none;
    color: rgb(4, 54, 192);
    display: flex;
    align-items: center;
    font-weight: 600;
    transition: 0.3s linear;
    }

    .category a:hover {
    color: aqua;
    }

    .category h3 {
    padding: 10px;
    }

    .update_content a {
    background: rgb(245, 237, 234);
    border-left: 3px solid rgb(185, 52, 52);
    text-decoration: none;
    color: rgb(2, 31, 15);
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    }

    .update_content a:hover {
    background: red;
    }

    .create_category {
    background-color: red;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    color: white;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    }

    .create {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    padding: 100px 250px;
    overflow-y: auto;
    display: none;
    z-index: 10;
    }

    .container_create {
    position: relative;
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    margin: auto;
    color: #000;
    border-radius: 16px;
    margin-left: 200px;
    padding: 30px 15px 10px;
    cursor: default;
    }
    .container_create input {
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    border: 2px solid rgba(255, 0, 0, 0.5);
    }

    .container_create form button {
    width: 100%;
    max-width: 150px;
    margin-left: 10px;
    background: #033349;
    transition: all 0.3s linear;
    }

    .container_create form button:hover {
    transform: none;
    background: red;
    }
