@import "profile.css";
.komentariya {
  margin-left: 78px;
  padding-top: 50px;
}

.container_komentariya {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

table {
  width: 100%;
  table-layout: fixed;
  background: #012B39;
  border-radius: 0.25em;
  border-collapse: collapse;
  }

td {
  width: 200px;
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 600;
  font-size: 14px;
  color: #000000;
  border: solid 1px rgba(0, 0, 0, 0.4);
}

th {
  border-bottom: 1px solid #364043;
  color: #E2B842;
  font-size: 16px;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
}
tbody tr {
  background: palegreen;
  transition: background 0.25s ease;
}
tbody tr:hover {
  background: #014055;
}

.koment {
  width: 100%;
  max-width: 600px;
  margin-left: 500px;
  padding-top: 100px;
}

.koment_content{
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 10px;
}

.koment_content form {
  width: 100%;
}

.koment_content h3 {
  width: 100%;
  font-size: 16px;
  font-weight: normal;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.koment_content p{
  font-size: 16px;
  font-weight: normal;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.koment_content img {
  border-radius: 20px;
  width: 350px;
}

.koment_content video {
  border-radius: 20px;
  width: 350px;
}

