@import 'profile.css';
.update {
    margin-left: 78px;
}

.update_content {
    width: 100%;
    max-width: 800px;
    padding-top: 60px;
    margin: 0 auto;
}
.update_content form{
    display: grid;
}
.update_content input {
    margin-top: 5px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.update_content label {
    margin-top: 10px;
}

.button_update {
    width: 100%;
    margin-top: 10px;
    align-items: center;
    background-image: linear-gradient(144deg,#ff0844, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.button_update:active,
.button_update:hover {
    outline: 0;
}

.button_update span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
    }

.button_update:hover span {
    background: none;
}



.update_content textarea {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
}

img {
    width: 250px;
    margin-top: 10px;
    
}

.sotrudnik_card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    column-gap: 10px;
    row-gap: 10px;
}

.card-container {
    background-color: #231E39;
    border-radius: 5px;
    box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
    color: #B3B8CD;
    padding-top: 30px;
    position: relative;
    max-width: 290px;
    text-align: center;
    }
    
    .card-container .round {
    border: 1px solid #03BFCB;
    border-radius: 50%;
    padding: 7px;
    display: inline-block;
    clip-path: circle(50%);
    overflow: hidden;
    width: 100%;
    max-width: 250px;
    height: 250px;
    object-fit: cover;
    
    }
    
    .login {
    padding: 20px 0;
    }
    .skills {
    margin-top: 15px;
    padding-bottom: 40px;
    }
    .primary {
    background-color: #03BFCB;
    border: 1px solid #03BFCB;
    border-radius: 3px;
    color: #231E39;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    padding: 10px 25px;
    }
    
    .primary.ghost {
    background-color: transparent;
    color: #02899C;
    }
    
    .user_create {
    background-color: red;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: auto;
    color: white;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    }
    
    .create_user {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    padding: 10px 30px;
    overflow-y: auto;
    display: none;
    z-index: 10;
    }
    
    .container_create_user {
    position: relative;
    width: 100%;
    max-width: 900px;
    background-color: #fff;
    margin: auto;
    color: #000;
    border-radius: 16px;
    margin-left: 200px;
    padding: 30px 15px 10px;
    cursor: default;
    }
    .content_create_user form {
    display: flex;
    flex-direction: column;
    }
    
    .content_create_user form input {
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    }
    
    
    .content_create_user form button {
    width: 100%;
    max-width: 250px;
    margin-top: 10px;
    background: #033349;
    transition: all .3s linear;
    }
    
    .content_create_user form button:hover{
    transform: none;
    background: red;
    }

    
    @media screen and (min-width: 992px) and (max-width: 1200px) {
        .update {
            margin-left: 68px;
        }

        .update_content {
            max-width: 700px;
        }

        .sotrudnik_card {
            grid-template-columns: repeat(3, 1fr);
        }

        .card-container {
            max-width: 310px;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 992px){
        .update {
            margin-left: 58px;
        }

        .update_content {
            max-width: 560px;
        }

        .sotrudnik_card {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 20px;
        }

        .card-container {
            max-width: 345px;
        }
    }
    @media screen and (min-width: 576px) and (max-width: 768px){
        .update {
            margin-left: 48px;
        }

        .update_content{
            max-width: 480px;
        }

        .sotrudnik_card {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media screen and (max-width: 576px){
        .update {
            margin-left: 38px;
        }

        .update_content {
            max-width: 260px;
        }

        .sotrudnik_card {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    